.about-section {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: #B7B7A4;
    background: linear-gradient(to bottom, #B0C4D3 , #FCF1F5);

}

/* Image */
.about-image-content {
    width: 50%;
    max-width: 100%;
    text-align: center;
    background: transparent;
}

.about-image1 {
    width: 80%;
    height: auto;
}

/* Text */
.about-text-content {
    width: 50%;
    background: transparent;
}

.about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #3A5267;
}

.about-title > span {
    position: relative;
}

.about-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #68283D; /* Dark red */
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}

.about-description {
    margin: 32px 0;
    color: #44312B; /* Dark brown */
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .7px;
    line-height: 1.7rem;
}

.about-text-title {
    margin: 0 0 24px 0;
    color: #44312B; /* Dark brown */
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .7px;
}

/* Steps */
.about-text-step {
    margin: 16px 0;
}

.about-text-sTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}

.about-text-description {
    margin: 8px 24px;
    color: #44312B; /* Dark brown */
    font-family: 'Rubik', sans-serif;
    letter-spacing: .7px;
    line-height: 1.6rem;
}

.fa-icon {
    color: #68283D; /* Dark red */
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        display: block;
    }

    .about-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }

    .about-image1 {
        width: 100%;
        height: 100%;
    }

    .about-text-content {
        width: 100%;
    }
}

