.card {
  transform-style: preserve-3d;
  position:relative;
  padding: 25px;
  width: 70%;
  height: 30%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  margin : 50px auto; 
  transform: translate(-50%, -50%);
  background: linear-gradient(
    25deg,
    #AD8291 0%,
    #D1B3BC 86% 
  );
  /* Change the background color here */
  background-color: #2c3e50; /* Example color */
  transition: all 0.1s ease;
}

.column1 {
  /* Add styles for the columns */
  width: 30%;
  padding: 0 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in width calculation */
}
.doctor-img {
  width: 250px;  /* Set the width to 173 pixels */
  height: 300px;  /* Set the height to 195 pixels */
  transition: transform 0.5s ease;
}
.column2 {
  /* Add styles for the columns */
  width: 70%;
  padding: 0 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Additional styles for better alignment and spacing */
.speciality-box,
.education-box,
.residency-box {
  margin-top: 10px;/* Retain text color */
}

.speciality-box li,
.education-box li,
.residency-box li {
  list-style: none;
}

.button-box {
  margin-top: 20px;
}

.button-box button {
  width: 100%;
  color: #fff; /* Retain text color */
  background-color: rgb(223, 60, 248); /* Retain button background color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-box button:hover {
  background-color: rgb(191, 54, 222); /* Retain button hover color */
}
