.journal-hero-container {
    position: relative;
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
    width: 100%; /* Make the hero container full width */
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.2s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.journal-hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px; /* Limit the maximum width */
    margin: 0 auto; /* Center the content */
}

.journal-hero-text {
    max-width: 600px;
    text-align: left; /* Align text to left */
}

.journal-hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #13070c; /* Light purple */
    margin-bottom: 20px;
}

.journal-hero-description {
    font-size: 18px;
    color: #D1B3BC; /* Light pink */
    margin-bottom: 20px;
}

.journal-hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.journal-hero-button {
    padding: 12px 24px;
    background-color: #AD8291; /* Light mauve */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.journal-hero-button:hover {
    background-color: #9F6074; /* Light pink */
}

.journal-hero-image-container {
    flex: 1;
    text-align: center; /* Center the image */
}

.journal-hero-image {
    max-width: 100%;
    border-radius: 10px; /* Rounded corners for the image */
}

.journal-scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #AD8291; /* Light green */
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 9999; /* Ensure it appears above other content */
}

.journal-scroll-up.show-scroll {
    opacity: 1;
}
