/* Container to center the sign-in container vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center alignment vertically */
    height: 100vh; /* Full viewport height */
    background: linear-gradient(to bottom, #FCF1F5, #B0C4D3);
    margin: 10px;
    padding-right: 10px;
}

.sign-in-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #D1B3BC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-container h1 {
    color: #68283D;
    text-align: center;
    margin-bottom: 10px;
}

.sign-in-container h2 {
    color: #44312B;
    text-align: center;
    margin-top: 0;
}

.sign-in-container .form-group {
    width: 100%;
    margin-bottom: 15px;
    color: #737373;
}

.sign-in-container input[type="email"],
.sign-in-container input[type="password"] {
    width: 80%; /* Full width to ensure inputs are well centered */
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    border: 1px solid #FCF1F5;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FCF1F5;
    text-align: center; /* Center the text inside the inputs */
}



.sign-in-container button:hover {
    background-color: #44312B;
}

.sign-in-container a {
    color: #BC1823;
    text-decoration: none;
}

.sign-in-container a:hover {
    color: red;
}
