.container {
    background-color: #D1B3BC;
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
  }

  .management-list {
    list-style: none;
    padding: 0;
  }

  .management-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .management-item div {
    flex: 1;
  }

  .management-item h3 {
    margin: 0;
    color: #333;
  }

  .management-item p {
    margin: 0.5rem 0;
    color: #666;
  }

  .button-group {
    display: flex;
    gap: 0.5rem;
  }

  .accept-button {
    background-color: #23382c;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .accept-button:hover {
    background-color: #202b25;
  }

  .modify-button {
    background-color: #3A5267;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .modify-button:hover {
    background-color: #3c4c5a;
    border: none;;
  }

  .delete-button {
    background-color: #68283D;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #5a3d3a;
  }
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 740px;
  height: 174px;
}
