.container {
  background-color: #D1B3BC;
  border-radius: 15px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.management-list {
  list-style: none;
  padding: 0;
}

.management-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.management-item span {
  color: #333;
}

.delete-button, .edit-button {
  background-color: #68283D;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover, .edit-button:hover {
  background-color: #69443f;
}

form {
  margin-top: 1rem;
}

form input, form button {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form button {
  background-color: #68283D;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #69443f;
}

.error {
  color: red;
  font-weight: bold;
}
